/* Universal Styles */
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: #ffffff;
  font-size: 25px;
  text-align: center;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 40px;
}

/* Header Section */
.header {
  background-image: url("../images/background-image-1-crepes-with-strawberry-jam-and-fresh-strawberries.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  display: inline-flex;
  width: 20%;
  border: 2px solid #000000;
}

/* Navbar Section */
.navbar {
  background-color: #fffafa;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  opacity: 0.7;
  flex-wrap: wrap;
}

.navbar p {
  display: inline-flex;
  padding: 50px 50px;
}

.navbar a:hover {
  color: #ff0000;
}

/* Main Section - Home */
#home {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #000000;
}

#home h2 {
  text-decoration: underline;
  word-spacing: 5px;
  background-color: #ff0000;
  color: #ffffff;
}

.home-content {
  background-color: #ff0000;
  color: #ffffff;
}

.home-content p {
  line-height: 2;
}

.home-content img {
  width: 39%;
}

/* Main Section - Menu */
#menu h2 {
  text-decoration: underline;
  word-spacing: 5px;
  background-color: #ffcc66;
}

.menu-content {
  background-color: #ffcc66;
}

.menu-content h3 {
  word-spacing: 5px;
}

.menu .crepes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crepes .crepe {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.crepe h4 {
  font-family: "Great Vibes", cursive;
  background-color: #8fbc8f;
  border: 2px solid #000000;
  margin: 5px;
}

.crepe img {
  width: 100%;
}

/* Main Section - Team */
#team h2 {
  text-decoration: underline;
  background-color: #ff7f50;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.team-content .the-team {
  background-image: url("../images/background-image-3-crepes-with-blueberries-and-strawberries.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-member {
  padding: 10px;
  flex-basis: 600px;
}

.team-member h3 {
  padding: 15px;
  margin: 0px;
  background-color: #ff7f50;
  color: #000000;
  opacity: 0.8;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.team-member p {
  padding: 15px;
  margin: 0px;
  background-color: #ff7f50;
  color: #000000;
  opacity: 0.8;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.team-member img {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  border: 2px solid #000000;
}

/* Main Section - Contact */
#contact {
  background-color: #9acd32;
  border-top: 2px solid #000000;
  padding-bottom: 5px;
}

.contact-content {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fa-map-marker {
  color: #ff0000;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

/* Footer Section */
.footer {
  background-color: #9acd32;
  border-top: 2px solid #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}
